@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anuphan:wght@300;400&family=Dosis:wght@200;300;400;500;600;700&family=Jost:wght@200;300;400;500&family=Kanit:wght@200;300;400&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:wght@200;300;400;500&family=Nunito:wght@300;500;600;700;800&family=Open+Sans:wght@300;400;500;600&family=Patrick+Hand&family=Patua+One&family=Poppins:ital,wght@0,100;0,400;0,600;1,100;1,300;1,500&family=Prata&family=Rajdhani:wght@300;400;600;700&family=Raleway:wght@300;400;500&family=Roboto+Slab:wght@400;800&family=Ubuntu:wght@300;400;500;700&family=Victor+Mono:wght@100;200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

html {
    font-size: 62%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --orange: #ff9f6b;
}

.heading {
    color: #000;
    text-align: center;
    font-size: 6rem;
    font-family: 'Prata', serif;
    font-weight: 200;
}


/* helper clases */

.btn {
    color: #fff;
    text-transform: uppercase;
    background-color: var(--orange);
    border-radius: 0;
    padding: 15px 30px;
    font-family: Jost, sans-serif;
    transition: all .3s;
}

.btn2 {
    color: var(--orange);
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 0;
    padding: 19px 30px;
    font-family: Jost, sans-serif;
    transition: all .3s;
    font-size: 2rem;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn2:hover {
    background-color: #000;
    color: #fff;
}



/* helper clases */
/* 
section {
    padding: 2rem 9%;
} */

/* toper starts */
.toper {
    background: #000;
    color: #fff;   
    z-index: -1
}

.toper h3 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    font-size: 16px;
    display: flex;
    font-weight: 300;
     padding: 1.2rem ;
}

/* toper ends */

/* header starts */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 46px;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
}

.logo img {
    width: 18rem;
}

.navbar ul {
    display: flex;
   
}

.navbar ul span {
    color: #ff9f6b;
}

.navbar ul li a {
    margin-right: 0.5rem;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

.navbar ul li a:hover {
    color: var(--orange);
}

/* menubar */
.icons div {
    font-size: 2rem;
    background: #000;
    padding: 1.6rem;
    color: #fff;
}

#menu-btn {
    display: none;
}

/* menubar */

/* dropdown menu */
.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 1rem;
    margin-left: 2.5rem;
}

.navbar ul li .dropdown {
    background: #fff;
    position: absolute;
    display: none;
}

.navbar ul li .dropdown a {
    width: 16rem;
    text-transform: uppercase;
}

.navbar ul li .dropdown a:hover {
    color: var(--orange);
}

.navbar ul li:hover .dropdown {
    display: block;
}



/* dropdown menu */


/* icons starts */
.icons a {
    font-size: 2rem;
    margin-right: 2rem;
}

.icons #cart {
    color: #000;
    font-size: 2.7rem;
}

/* icons ends */

/* header ends */

/* home starts */
.home {
    min-height: 100vh;
    min-width: 100vw;
    background: var(--orange);
}

.home .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 19rem 4rem;
}

.home .row .content {
    flex: 1 1 40rem;
}

.home .row .content img {
    display: block;
    height: 28rem;
    margin-top: 5rem;
    width: 82%;
}

.home .row .content h1 {
    font-size: 9rem;
    color: #fff;
    margin-bottom: 3rem;
    font-family: 'Prata', serif;
    font-weight: 200;
}

.home .row .image {
    flex: 1 1 45rem;
}

.home .row .image img {
    width: 100%;
}


/* home ends */

/* banner starts */
.banner {
    background-color: #fff3ed;
    position: relative;
    overflow: hidden;
}

.banner h1 {
    text-align: center;
    font-size: 6rem;
    font-family: 'Prata', serif;
    font-weight: 100;
    padding: 10rem 2rem;
}


/* banner ends */

/* product section */

.products{
    padding: 12rem 0;
}
.products .box-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.products .box-container .box {
    padding: 0 1.5rem;
    margin: auto;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 30rem;
   
}

.products .box-container .box .content {
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color:#000;
    font-family: 'Prata', serif;
    font-weight: 200;
    padding: 1rem 0;
}

.products .box-container .box .content span{
    font-size: 2rem;
    color: var(--orange);
    font-weight: 300;
}

/* product section */

/* trending selection  section */
.threeproduct{
    background-color: #fff3ed;
    padding: 12rem 0;
}

.threeproduct .box-container{
    display: flex;
    /* gap: 1.5rem; */
    flex-wrap: wrap;
}

.threeproduct .box-container .box{ 
        padding: 0 1.5rem;
        margin: auto;
}

.threeproduct .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.threeproduct .box-container .box .image img{
 width: 36rem;
}

.threeproduct .box-container .middle .box .image img{
   width: 56rem !important;
}

.threeproduct .box-container .middle .box .image h3{
    font-size: 2.4rem;
    color: #000;
    font-weight: 200;
    font-family: 'Prata', serif;
    padding: 1rem 0;
}
.threeproduct .box-container .middle .box .image span{
    font-size: 2rem;
    color: var(--orange);
    font-weight: 200;
}

 
/* trending selection section */

/* banner starts */
.banner01{
    padding: 12rem 0;
}

.banner01 h2{
    font-size: 6rem;
    font-weight: 300;
    margin-top: 5rem;
    text-align: center;
    font-family: 'Prata', serif;
}
/* banner starts */

/* banner starts */
.banner02{
    padding: 12rem 0;
    background-color: #fff3ed;
}
.banner02 .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}

.banner02 .box-container .box{
    flex: 1 1 28rem;
    margin: 5rem 1rem;
}

.banner02 .box-container .box .image img{
    width: 10rem;
}

.banner02 .box-container .box .content{
    padding: 1rem 0;
}

.banner02 .box-container .box .content h2{
    font-size: 3rem;
    font-weight: 200;
    margin: 1rem 0;
    font-family: 'Prata', serif;
}

.banner02 .box-container .box .content p{
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Prata', serif;
}


/* banner starts */

 /* Jewellery selection section  */
 
.Jewellery{
    padding: 12rem 0;
}
.Jewellery .box-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.Jewellery .box-container .box {
    padding: 2rem 0;
    margin: auto;
}

.Jewellery .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.Jewellery .box-container .box .image img {
    height: 30rem;
   
}

.Jewellery .box-container .box .content {
    text-align: center;
}

.Jewellery .box-container .box .content h3 {
    font-size: 2.5rem;
    color:#000;
    font-family: 'Prata', serif;
    font-weight: 200;
    padding: 1rem 0;
}

.Jewellery .box-container .box .content span{
    font-size: 2rem;
    color: var(--orange);
    font-weight: 300;
}

 /* Jewellery selection section  */


 /* clients section */
 .clients{
    background-color:var(--orange);
    padding: 12rem 0;
 }

 .clients #heading{
    color: #fff;
 }


 .clients .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
 }

 .clients .box-container .box{
    flex: 1 1 40rem;
    margin: 4rem 5rem;
    text-align: center;
    color: #fff;
 }

 .clients .box-container .stars i{
    font-size: 2.8rem;
    color: #FFD24B;
    margin-bottom: 1rem;
 }

 .clients .box-container .box h3{
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Prata', serif;
    margin-bottom: 1rem;
 }

 .clients .box-container .box p{
    font-size: 2rem;
    margin-bottom: 1rem;
 }

 .clients .box-container .box h2{
    font-size: 3rem;
    font-family: 'Prata', serif;
    font-weight: 300;
 }


 .clients .box-container .box img{
    width: 12rem;
 }

 
 /* clients section */


/* recent post */
 .recent{
    padding: 12rem 0;
 }

 .recent .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
    padding: 0 2rem;
 }

 
 .recent .box-container .box{
    margin: auto;
 }
 .recent .box-container .box .image{
    flex:  1 1 45rem;
 }

 .recent .box-container .box .image:hover img{
    transform: scale(1.2);
    transition: 1.7s linear;
 }

 .recent .box-container .box .image img{
    height: 35rem;
   
 }

 .recent .box-container .box .content{
  margin-top: 4rem;
 }

 .recent .box-container .box .content a{
    font-size: 1.6rem;
    margin-right: 2rem;
 }

 .recent .box-container .box .content span{
    font-size: 2rem;
    color: #515151;
 }

 .recent .box-container .box .content h1{
    margin-top: 3rem;
    font-size: 3.6rem;
    font-family: 'Prata', serif;
    font-weight: 100;
 }

 .recent .box-container .box .content h1:hover{
    color: var(--orange);
 }


/* recent post */

/* footer starts */

.footer{
    background-color: #FFF3ED;

}

footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    padding: 12rem 2rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 3.5rem;
    font-family: 'Prata', serif;
    font-weight: 300;
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 2rem;
}

.footer .box-container .box a{
     color: #666;
    font-size: 2.2rem;
    display: block;
    font-weight: 300;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--orange);
    margin-right: .6rem;
}


.footer .box-container .box a:hover{
    color: var(--orange);
}


.footer .box-container .box img{
    margin-top: 1rem;
    width: 21rem;
    margin-bottom: 1rem;
}

 .footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    color: #fff;
    background-color: #000;
    font-size: 2rem;
    font-weight: 300;
}

.footer .credit span{
    color: var(--orange);
} 
/* footer starts */





















/* media query */
@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar,
    .icons a {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .icons a.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar ul {
        position: relative;
        width: 100%;
    }

    .header .navbar ul li {
        width: 100%;
    }

    .header .navbar ul li a {
        display: block;
    }

    .threeproduct .box-container .middle .box .image img{
        width: 36rem !important;
     }

     .navbar ul{
        display: block;
     }
 
}

@media(max-width:450x) {
    html {
        font-size: 50%;
    }


}

/* media query */